# Security: Never upload your database keys
Sapientia_database_setup/.env
.env.local

# Storage: Don't upload the actual book files (too big/copyright)
PlanetEbooks/
*.epub
*.pdf

# Python Junk
__pycache__/
*.pyc
venv/

.idea

.DS_Store

